<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
{% include '_ajax-js.html' %}
<script>
    (function(){
        var fnSucc=function(res){
            res=JSON.parse(res);
            if(res.result!==0){
                return alert('author fail');
            }
            var config= res.wxjssdkConfig;
            wx.config({
                appId: config.appId,
                timestamp: config.timestamp,
                nonceStr: config.nonceStr,
                signature: config.signature,
                debug: true,
                jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','scanQRCode']
            });
            wx.error(function(res) {
                alert(JSON.stringify(res));
            });
        };
        var url=encodeURIComponent(location.href.split('#')[0]);
        ajax('/api/wxjssdk?authorUrl='+url,fnSucc);
    })();
</script>