{% extends "layout.html" %}
{% block content %}
<h1>微信JS-SDK能力调用DEMO页</h1>
<button id="scan">扫码</button>
{% endblock %}
{% block additionalsdk%}
<script>
    wx.ready(function () {
        wx.onMenuShareAppMessage({
            title: '好诱惑的标题', // 分享标题
            desc: '好性感的内容', // 分享描述
            link: 'http://e.189.cn', // 分享链接
            imgUrl: 'http://b.hiphotos.baidu.com/image/h%3D200/sign=b1327dfc327adab422d01c43bbd5b36b/bf096b63f6246b6045187ca0eff81a4c500fa2d4.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                alert('看来你也是性情中人啊');
            }
        });

    });
    wx.ready(function(){
        document.querySelector('#scan').addEventListener('touchstart',function(){
            wx.scanQRCode({
                needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    alert('扫码结果为：'+result);
                }
            });
        });
    });

</script>

{% endblock %}