<!DOCTYPE html>
<html>
<head lang="zh">
    <title>{{title}}</title>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>

    <!-- 清除缓存 -->
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    {% block css %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
{% include '_wxjssdk-js.html' %}
{% block additionalsdk %}
{% endblock %}
</body>
</html>